/* Selector */
/* h1{
    color:red;
    background-color: black;
    border-radius: 10px;   
} */

/* classes and id selector */
.first{
    color:red;
    background-color: black;
    border-radius: 10px;  
}

#chintu01{
    color: orange;
    background-color: lightskyblue;
}